
  <!-- <div > -->
    <!--  <div class="box-item box-one" >
        <div class="box-post">
           <span class="category" style="background: #547ebc;"><a href="category/technology/index.html" rel="tag">Technology</a></span> <span class="category" style="background: #64c100;"><a href="category/travel/index.html" rel="tag">Travel</a></span>
           <h1 class="post-title"><a href="2015/01/19/the-best-apps-to-enhance-your-next-trip/index.html">City Marathon 2015</a></h1>
           <p>The languages only differ in their grammar, their pronunciation and</p>
           <span class="meta">
           <span><img src="assets/comments.png" /> <a href="2015/01/19/the-best-apps-to-enhance-your-next-trip/index.html#respond">No Comments</a></span>
           <span><img src="assets/date.png" /> Jan 19, 2015</span>
           <span>
           <img alt='' src='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=20&amp;d=20&amp;r=g' srcset='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=40&amp;d=20&amp;r=g 2x' class='avatar avatar-20 photo' height='20' width='20' /> 
           by <a href="author/bebel/index.html">Bebel Nevermind</a>                        </span>
           </span>
        </div>
        <img src="assets/bridgerunning1-789x395.jpg" alt="City Marathon 2015" class="" data-no-retina>        
     </div> -->
   <!--   <div class="box-item box-two" >
        <div class="box-post">
           <span class="category" style="background: #f22121;"><a href="category/sport/index.html" rel="tag">Sport</a></span>
           <h1 class="post-title"><a href="2015/01/19/we-checked-the-newest-running-gear-for-you/index.html">We checked running routes for you</a></h1>
           <p>The languages only differ in their grammar, their pronunciation and</p>
           <span class="meta">
           <span><img src="assets/comments.png" /> <a href="2015/01/19/we-checked-the-newest-running-gear-for-you/index.html#comments">One Comment</a></span>
           <span><img src="assets/date.png" /> Jan 19, 2015</span>
           <span>
           <img alt='' src='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=20&amp;d=20&amp;r=g' srcset='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=40&amp;d=20&amp;r=g 2x' class='avatar avatar-20 photo' height='20' width='20' /> 
           by <a href="author/bebel/index.html">Bebel Nevermind</a>                        </span>
           </span>
        </div>
        <img src="assets/vespa1-526x395.jpg" alt="We checked running routes for you" class="" data-no-retina>        
     </div>
     <div class="box-item box-three" >
        <div class="box-post">
           <span class="category" style="background: #64c100;"><a href="category/travel/index.html" rel="tag">Travel</a></span>
           <h1 class="post-title"><a href="2015/01/19/meet-asias-best-destinations-for-the-summer/index.html">San Francisco at its best</a></h1>
           <p>The languages only differ in their grammar, their pronunciation and</p>
           <span class="meta">
           <span><img src="assets/comments.png" /> <a href="2015/01/19/meet-asias-best-destinations-for-the-summer/index.html#respond">No Comments</a></span>
           <span><img src="assets/date.png" /> Jan 19, 2015</span>
           <span>
           <img alt='' src='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=20&amp;d=20&amp;r=g' srcset='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=40&amp;d=20&amp;r=g 2x' class='avatar avatar-20 photo' height='20' width='20' /> 
           by <a href="author/bebel/index.html">Bebel Nevermind</a>                        </span>
           </span>
        </div>
        <img src="assets/train1-526x395.jpg" alt="San Francisco at its best" class="" data-no-retina>        
     </div>
     <div class="box-item box-four" >
        <div class="box-post">
           <span class="category" style="background: #494949;"><a href="category/lifestyle/index.html" rel="tag">Lifestyle</a></span> <span class="category" style="background: #f22121;"><a href="category/sport/index.html" rel="tag">Sport</a></span>
           <h1 class="post-title"><a href="2015/01/19/surfers-paradise-about-to-get-even-better/index.html">Surfers paradise about to get even better</a></h1>
           <p>The languages only differ in their grammar, their pronunciation and</p>
           <span class="meta">
           <span><img src="assets/comments.png" /> <a href="2015/01/19/surfers-paradise-about-to-get-even-better/index.html#respond">No Comments</a></span>
           <span><img src="assets/date.png" /> Jan 19, 2015</span>
           <span>
           <img alt='' src='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=20&amp;d=20&amp;r=g' srcset='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=40&amp;d=20&amp;r=g 2x' class='avatar avatar-20 photo' height='20' width='20' /> 
           by <a href="author/bebel/index.html">Bebel Nevermind</a>                        </span>
           </span>
        </div>
        <img src="assets/surfing1-395x395.jpg" alt="Surfers paradise about to get even better" class="" data-no-retina>        
     </div>
     <div class="box-item box-five" >
        <div class="box-post">
           <span class="category" style="background: #547ebc;"><a href="category/technology/index.html" rel="tag">Technology</a></span>
           <h1 class="post-title"><a href="2015/01/19/meet-our-top-ten-work-out-playlists/index.html">Meet the best new apps</a></h1>
           <p>The languages only differ in their grammar, their pronunciation and</p>
           <span class="meta">
           <span><img src="assets/comments.png" /> <a href="2015/01/19/meet-our-top-ten-work-out-playlists/index.html#respond">No Comments</a></span>
           <span><img src="assets/date.png" /> Jan 19, 2015</span>
           <span>
           <img alt='' src='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=20&amp;d=20&amp;r=g' srcset='http://2.gravatar.com/avatar/836b9dc19962faf096b7acbcd4cd870f?s=40&amp;d=20&amp;r=g 2x' class='avatar avatar-20 photo' height='20' width='20' /> 
           by <a href="author/bebel/index.html">Bebel Nevermind</a>                        </span>
           </span>
        </div>
        <img src="assets/man1-395x395.jpg" alt="Meet the best new apps" class="" data-no-retina>        
     </div> -->
  <!-- </div> -->

<!-- </div> -->

